@use "mixins";
@use "variables";


/* FORM CTA */

.Contact-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;

    img {
        width: 80%;
        height: auto;
    }
}

#formCta fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

#formCta legend {
    position: absolute;
    left: -9999px;
    /* visually hidden, but accessible */
}



#formCta h2 {
    margin-bottom: 24px;
}

#formCta form {
    max-width: 80%;
    background: #fff;
    padding: 32px 24px;
    border-radius: 14px;
    box-shadow: 0 10px 30px rgba(255, 11, 11, 0.08);
    text-align: left;
}

#formCta label {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    margin-bottom: 16px;
}

#formCta input,
#formCta select,
#formCta textarea {
    margin-top: 6px;
    padding: 12px 14px;
    font-size: 1.5rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    outline: none;
}

#formCta input:focus,
#formCta textarea:focus,
#formCta select:focus {
    border-color: #343D68;
}


#formCta button {
    width: 100%;
    padding: 14px;
    background: #343D68;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1.5rem;
    cursor: pointer;
    background-image: url("../assets/contactForm/paperPlane.svg");
    background-repeat: no-repeat;
    background-position: right 20px center;
    background-size: 25px 25px;
}

#formCta button:hover {
    background: #2b335a;
    background-image: url("../assets/contactForm/paperPlane.svg");
    background-repeat: no-repeat;
    background-position: right 20px center;
    background-size: 25px 25px;
}

/* MEDIA 768 PX */

@media (min-width: 768px) {

    /* FORM CTA */

    .Contact-me {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        gap: 30px;

        img {
            width: 500px;
            height: auto;
        }
    }

    #formCta fieldset {
        border: none;
        padding: 0;
        margin: 0;
    }

    #formCta legend {
        position: absolute;
        left: -9999px;
    }

    #formCta h2 {
        margin-bottom: 24px;
    }

    #formCta form {
        max-width: 420px;
        background: #fff;
        padding: 32px 24px;
        border-radius: 14px;
        box-shadow: 0 10px 30px rgba(255, 11, 11, 0.08);
        text-align: left;
    }

    #formCta label {
        display: flex;
        flex-direction: column;
        font-size: 1.2rem;
        margin-bottom: 16px;
    }

    #formCta input,
    #formCta select,
    #formCta textarea {
        margin-top: 6px;
        padding: 12px 14px;
        font-size: 1.5rem;
        border: 1px solid #ddd;
        border-radius: 8px;
        outline: none;
    }

    #formCta input:focus,
    #formCta textarea:focus,
    #formCta select:focus {
        border-color: #343D68;
    }


    #formCta button {
        width: 100%;
        padding: 14px;
        background: #343D68;
        color: #fff;
        border: none;
        border-radius: 5px;
        font-size: 1.5rem;
        cursor: pointer;
        background-image: url("../assets/contactForm/paperPlane.svg");
        background-repeat: no-repeat;
        background-position: right 20px center;
        background-size: 25px 25px;
    }

    #formCta button:hover {
        background: #2b335a;
        background-image: url("../assets/contactForm/paperPlane.svg");
        background-repeat: no-repeat;
        background-position: right 20px center;
        background-size: 25px 25px;
    }

    .blog-preview {
        max-width: 640px;
        margin: 80px auto;
        text-align: center;
    }

    .blog-post-preview time {
        font-size: 0.9rem;
        opacity: 0.6;
    }
}
