@media (min-width: 1200px) {

  .topnav a.icon {
    display: none;
  }

  .topnav #myLinks {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 24px;
  }

  .topnav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
  }

  .topnav a {
    display: inline-flex;
    align-items: center;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 1.25rem;

  }

  .brand h1 {
    font-size: 1.4rem;
    font-weight: 200;
    margin: 0;
    font-style: normal;
    color: #E84849;
  }

  .topnav a.projectsMenu {
    color: #E84849;
    gap: 5px;
  }

  //HERO
  .hero {
    position: relative;
    color: #3f3D56;
  }


  .hero-visual {
    position: relative;
    width: fit-content;
  }

  .hero-photo {
    display: block;
    width: 200px;
    border-radius: 12px;
    padding-top: 20px;
  }

  .cube {
    position: absolute;
    top: 20px;
    right: -20px;
    width: 30px;
    height: auto;
  }

  .zigzag {
    position: absolute;
    left: -15px;
    top: 50px;
    width: 25px;
    height: auto;
  }

  .plus {
    position: absolute;
    top: 17px;
    left: 50%;
    // transform: translateX(-50%);
    color: #ff4d4d;
    width: 20px;
    height: auto;
  }

  .circles {
    position: absolute;
    top: 290px;
    left: 50%;
  }

  .ellipse {
    position: absolute;
    top: 320px;
    left: 10%;
  }

  #hero {
    border-color: blue;
  }

  .hero-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }

  .hero-content {
    display: flex;
    flex-direction: column;
    text-align: left;
    max-width: 620px;

    @include desktop-hero-heading;
  }

  .hero-content button {
    @include button-big;
  }


  // SKILLS

  .title-section {
    @include title-section;
  }

  .skills-tab {
    @include button-small;
  }

  .layout-skills {
    display: grid;
    grid-template-columns: 1fr 420px;
    gap: 40px;
    align-items: start;
  }

  .hex {
    width: 160px;
    height: 160px;
    margin: 0 auto 12px;

    background: url("../assets/skills/techSkills/polygon.svg") no-repeat center;
    background-size: contain;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .skills-panels {
    min-height: 360px;
  }


  .tech-skills {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 30px;
  }

  .skills-man img,
  .skill img {
    max-width: 100%;
    height: auto;
  }

  .skill img {
    height: 80px;
    width: auto;
  }

  .skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .skills-panel {
    display: none;
  }

  .skills-panel.active {
    display: block;
  }

  .gridTest {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    border: 1px solid green;
  }


  // PROJECTS

  .projects {
    background-color: #343D68;
  }

  .sectionTitle {
    text-align: center;
    color: #E1E1E1;
    padding-top: 10px;
  }

  .sectionTitle h2,
  .sectionTitle h3 {
    font-weight: 300;
  }

  .projects-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 32px;
    justify-items: center;
    padding: 5px;
  }

  .project-card {
    background-color: #2b345d; // тёмный фон как в макете
    border: 2px solid #7b7b7b; // бирюзовая рамка
    padding: 40px;
    margin-bottom: 40px;
    text-align: center;
    color: #fff;

    a {
      color: #ffffff;
    }
  }

  /* CTA */

  .Contact-me {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 30px;

    img {
      width: 500px;
      height: auto;
    }
  }

  #formCta fieldset {
    border: none;
    padding: 0;
    margin: 0;
  }

  #formCta legend {
    position: absolute;
    left: -9999px;
    /* visually hidden, but accessible */
  }



  #formCta h2 {
    margin-bottom: 24px;
  }

  #formCta form {
    max-width: 420px;
    background: #fff;
    padding: 32px 24px;
    border-radius: 14px;
    box-shadow: 0 10px 30px rgba(255, 11, 11, 0.08);
    text-align: left;
  }

  #formCta label {
    display: flex;
    flex-direction: column;
    font-size: 1.3rem;
    margin-bottom: 16px;
  }

  #formCta input,
  #formCta select,
  #formCta textarea {
    margin-top: 6px;
    padding: 12px 14px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 8px;
    outline: none;
  }

  #formCta input:focus,
  #formCta textarea:focus,
  #formCta select:focus {
    border-color: #343D68;
  }


  #formCta button {
    width: 100%;
    padding: 14px;
    background: #343D68;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    background-image: url("../assets/contactForm/paperPlane.svg");
    background-repeat: no-repeat;
    background-position: right 20px center;
    background-size: 25px 25px;
  }

  #formCta button:hover {
    background: #2b335a;
  }


  /* FOOTER */


  .footer .container {
    background-color: #343D68;
    color: #fff;

  }


  .footer-wave {
    display: block;
    width: 100%;
    height: 80px;
  }

  .footer-content {
    max-width: 360px;
    margin: 0 auto;
    padding: 40px 16px;
    text-align: left;
  }

  .footer-title {
    font-size: 16px;
    margin-bottom: 12px;
  }

  .social-links {
    display: flex;
    gap: 16px;
    list-style: none;
    padding: 0;
    margin-bottom: 24px;
  }

  .social-links img {
    width: 28px;
    height: 28px;
  }

  .footer-projects {
    margin-top: 24px;
    font-size: 14px;
  }

  .github-link {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 8px;
    color: #7fd3ff;
    text-decoration: none;
  }

  .github-link img {
    width: 20px;
    height: 20px;
  }

  .social-links img {
    filter: brightness(0) invert(1);
  }



}