@media (min-width: 1200px) {

  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 16px;
    outline: 2px solid rgb(53, 218, 92);

  }

  #hero {
    height: 40vh;
    display: flex;
  }

  .hero-inner {
    display: flex;
    flex-direction: row;
    width: 1200px;
  }

  .hero-content {
    display: flex;
    flex-direction: column;
    color: #3f3D56;

    button {
      width: 50%;
      margin-top: 30px;
    }
  }

.hero-visual {
  height: 100%;
  display: flex;
  /* justify-content: flex-end;  */
  align-items: flex-end;  
}


.hero-visual img {
  max-height: 300px;
  width: auto;
}

}