@media (min-width: 1200px) {

  .topnav a.icon {
    display: none;
  }

  .topnav #myLinks {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 24px;
  }

  .topnav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  //HERO
.hero {
  position: relative;
  color: #3f3D56;
}

#hero {
  outline-style: dashed;
  border-color: blue;
}

.hero-inner {
  display: flex;
  align-items: center;
  outline-style: dotted;
}

.hero-visual {
  position: relative;
  bottom: 0;
}

.hero-visual img {
  width: 200px;
  height: auto;
}

  // SKILLS

  .layout-skills {
    display: grid;
    grid-template-columns: minmax(0, 2fr) minmax(0, 1fr);
    gap: 80px;
  }

  .tech-skills {
    display: flex;
  }

  .skills-man img,
  .skill img {
    max-width: 100%;
    height: auto;
  }
 .skill img {
  height: 80px;
  width: auto;
 }

 .tech-skills {
  padding: 15px;
  gap: 30px;
 }

}