@media (min-width: 1200px) {

  .topnav a.icon {
    display: none;
  }

  .topnav #myLinks {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 24px;
  }

  .topnav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

}