   @use "mixins";
   @use "variables";

   /* HERO SECTION*/

   .hero {
       position: relative;
       color: #3f3D56;
   }

   .hero-inner {
       display: flex;
       align-items: center;
   }

   .hero-visual {
       position: relative;
       bottom: 0;
   }

   .hero-photo {
       display: block;
       width: 200px;
       border-radius: 12px;
       padding-top: 10px;
   }

   .cube {
       position: absolute;
       top: 50px;
       right: 10px;
       width: 20px;
       height: auto;
   }

   .zigzag {
       position: absolute;
       left: 20px;
       top: 50px;
       width: 15px;
       height: auto;
   }

   .plus {
       position: absolute;
       top: 17px;
       left: 50%;
       // transform: translateX(-50%);
       color: #ff4d4d;
       width: 15px;
       height: auto;
   }

   .circles {
       position: absolute;
       top: 300px;
       left: 45%;
       width: 80px;
       height: auto;
   }

   .ellipse {
       position: absolute;
       top: 300px;
       left: 0;
       width: 25px;
       height: auto;
   }

   .hero-inner {
       display: flex;
       justify-content: center;
       align-items: center;
   }

   .hero-content {
       display: flex;
       flex-direction: column;
       text-align: left;
       padding-left: 10px;

       @include mixins.hero-heading(2rem, 1.4rem);

       button {
           max-width: 50%;
           padding: 10px;
           color: white;
           background-color: #E84849;
           border-radius: 10px;
           cursor: pointer;
           font-size: 1.2rem;
           border: none;
           box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);

           &:hover {
               background-color: #fd7979;
               box-shadow: 0 6px 18px rgba(0, 0, 0, 0.35);
           }

       }
   }