   @use "mixins";
   @use "variables";

   /* HERO SECTION*/

   .hero {
       position: relative;
       color: #3f3D56;
   }

   .hero-inner {
       display: flex;
       align-items: center;
   }

   .hero-visual {
       position: relative;
       width: fit-content;
       padding: 0;
   }

   .hero-photo {
       display: block;
       width: 90%;
       border-radius: 12px;
   }

   .cube {
       position: absolute;
       top: 2%;
       right: 5%;
       width: 12%;
   }

   .zigzag {
       position: absolute;
       top: 20%;
       left: -5%;
       width: 13%;
       height: auto;
   }

   .plus {
       position: absolute;
       top: -4%;
       left: 50%;
       transform: translateX(-50%);
       color: #ff4d4d;
       width: 10%;
       height: auto;
   }

   .circles {
       position: absolute;
       bottom: -6%;
       right: 10%;
       width: 35%;
       height: auto;
   }

   .ellipse {
       position: absolute;
       bottom: 10%;
       left: -8%;
       width: 10%;
       height: auto;
   }

   .hero-inner {
       display: flex;
       justify-content: center;
       align-items: center;
   }

   .hero-content {
       display: flex;
       flex-direction: column;
       text-align: left;
       padding-left: 10px;

       @include mixins.hero-heading(2rem, 1.4rem);

       button {
         @include mixins.button-big;
       }
   }

   @media (min-width: 768px) {

       //HERO
       .hero {
           position: relative;
           color: #3f3D56;
       }


       .hero-visual {
           position: relative;
           width: fit-content;
       }


       #hero {
           border-color: blue;
       }

       .hero-inner {
           display: flex;
           justify-content: center;
           align-items: center;
           gap: 50px;
       }

       .hero-content {
           display: flex;
           flex-direction: column;
           text-align: left;
           max-width: 620px;

           @include mixins.hero-heading(3rem, 1.7rem);
       }

       .hero-content button {
           @include mixins.button-big;
       }

       .hero-photo {
           width: 80%;
       }


       .cube {
           position: absolute;
           top: 2%;
           right: 15%;
           width: 6%;
       }

       .zigzag {
           position: absolute;
           top: 20%;
           left: -5%;
           width: 8%;
           height: auto;
       }

       .plus {
           position: absolute;
           top: -4%;
           left: 50%;
           transform: translateX(-50%);
           color: #ff4d4d;
           width: 7%;
           height: auto;
       }

       .circles {
           position: absolute;
           bottom: -6%;
           right: 10%;
           width: 25%;
           height: auto;
       }

       .ellipse {
           position: absolute;
           bottom: 10%;
           left: -8%;
           width: 6%;
           height: auto;
       }
   }

   @media (min-width: 1200px) {

       .hero-content {
           @include mixins.hero-heading(4rem, 2rem);
       }

       .hero-content button {
           @include mixins.button-huge;
       }

       .hero-photo {
           width: 80%;
       }


       .cube {
           position: absolute;
           top: 2%;
           right: 15%;
           width: 6%;
       }

       .zigzag {
           position: absolute;
           top: 20%;
           left: -5%;
           width: 8%;
           height: auto;
       }

       .plus {
           position: absolute;
           top: -4%;
           left: 50%;
           transform: translateX(-50%);
           color: #ff4d4d;
           width: 7%;
           height: auto;
       }

       .circles {
           position: absolute;
           bottom: -6%;
           right: 10%;
           width: 25%;
           height: auto;
       }

       .ellipse {
           position: absolute;
           bottom: 10%;
           left: -8%;
           width: 6%;
           height: auto;
       }


   }