  @use "mixins";

  @font-face {
    font-family: "Avenir";
    src: url("/assets/fonts/AvenirNextLTW02Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  body {
    font-family: "Avenir",
      -apple-system,
      BlinkMacSystemFont,
      "Segoe UI",
      Roboto,
      Helvetica,
      Arial,
      sans-serif;
  }

  .container {
    max-width: 1200px;
    // margin: 0 auto;
    // border: 1px solid rgb(197, 197, 197);

  }

  header {
    position: sticky;
    top: 0;
    background: #fff;
    z-index: 1000;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);

  }

  main {
    margin-top: 30px;
  }

  .title-section {
    @include mixins.title-section;
  }
