  .container {
    max-width: 1200px;
    margin: 0 auto;
    border: 1px solid rgb(197, 197, 197);
    text-align: center;

  }

  header {
    position: sticky;
    top: 0;
    background: white;
    z-index: 1000;
  }