@use "sass:color";
@use "variables";

@mixin hero-heading($h1-size, $p-size) {
  h1 {
    font-size: $h1-size;
    line-height: 1.2;
    font-weight: 100;
    margin-top: 20px;
    margin-bottom: -10px;
  }

  p {
    font-size: $p-size;
    line-height: 1.6;
    max-width: 520px;
    margin-bottom: 40px;

  }
}


@mixin title-section {
  max-width: 640px;
  margin: 80px auto 26px;
  text-align: center;
  position: relative;

  h2 {
    font-size: clamp(1.9rem, 3.5vw, 3rem);
    font-weight: 400;
    line-height: 1.2;
    color: #343D68;
    margin-bottom: 4px;
  }

  p {
    font-size: 2.05rem;
    line-height: 1.6;
    color: #6b7280;
    margin: 0;
  }

  &::after {
    content: "";
    display: block;
    width: 56px;
    height: 3px;
    margin: 28px auto 0;
    border-radius: 2px;
    background-color: variables.$color-primary;
  }
}

@mixin button-base {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  padding: 12px 20px;
  border-radius: 10px;
  border: none;
  cursor: pointer;

  font-weight: 500;
  color: white;
  background-color: variables.$color-primary;

  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);

  transition: background-color 0.2s ease, box-shadow 0.2s ease;

  &:hover {
    background-color: color.adjust(variables.$color-primary, $lightness: 8%);
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.35);
  }
}

@mixin button-huge {
  @include button-base;
  font-size: 2rem;
  max-width: 40%;
}


@mixin button-big {
  @include button-base;
  font-size: 1.5rem;
  max-width: 40%;
}

@mixin button-small {
  @include button-base;
  font-size: 1rem;
  padding: 10px 6px;
}