@mixin mob-hero-heading {
    h1 {
        font-weight: 100;
        font-size: 1.6rem;
        color: #343D68;
        margin-bottom: 0;
    }

    p {
        font-size: 1.2rem;
        margin-top: 18px;
        margin-bottom: 48px;
    }
}

@mixin desktop-hero-heading {
    h1 {
        font-style: normal;
        font-weight: 100;
        color: #343D68;
        font-size: 2rem;
        margin-bottom: 0;
    }

    p {
        font-size: 1.2rem;
        margin-top: 18px;
        margin-bottom: 48px;
    }
}

@mixin title-section {
    
}