 @use "mixins";
 @use "variables";

 // PROJECTS



 .projects .container {
     max-width: 1200px;
     margin: 0 auto;
     color: #fff;
 }

 .projects {
     padding-top: 80px;
 }


 .projects-header {
    color: #343d68;
     text-align: center;

     h2 {
         font-size: 1.9rem;
         font-weight: 100;
     }

     p {
         font-size: 1.25rem;
         opacity: 0.8;
     }
 }

 .projects-grid {
     display: flex;
     flex-direction: column;
     gap: 20px;
 }

 ///////
 .external {
     width: auto;
     min-height: 90px;
     display: grid;
     place-items: center;
 }

 .internal {
     border: 2px solid #262c4c;
     width: 100%;
     max-width: 340px;
     min-height: auto;
     margin: 20px;
     place-items: center;
     background-color: #262c4c;
     overflow: hidden;
 }

 .internal:hover {
     border-image: linear-gradient(45deg, #262c4c, #7c87c3) 1;
 }

 .img-block {
     height: auto;
     max-width: 100%;
     overflow: hidden;
     position: relative;

     img {
         width: 100%;
         height: auto;
         position: relative;
     }
 }

 .internal a {
     padding: 12px;
     background-color: #343d68;
     border-radius: 5px;
     border: 1px solid white;
     color: white;
     margin-bottom: 20px;
     display: inline-block;
     font-style: none;
     text-transform: capitalize;
     text-decoration: none;
     font-size: 1.4rem;
     font-weight: 100;

 }

 .headlines {
     position: static;
     color: white;
     display: flex;
     flex-direction: column;
     align-items: center;
     text-align: center;
     padding: 0 10px 0;

     h3 {
         margin: 25px 0px 5px;
         font-weight: 100;
         font-size: 1.5rem;
     }

     p {
         margin: 15px 0px 30px;
         font-weight: 100;
         font-size: 1.1rem;
     }
 }


 .btn-project:hover {
     border-image: linear-gradient(45deg, #8af464, #e6ffdd) 1;
 }


 /* MEDIA 768 PX */

 @media (min-width: 768px) {

     .projects .container {
         max-width: 1200px;
         margin: 0 auto;
         color: #fff;
         padding: 5px 30px 60px;
     }

     .projects {
         padding-top: 80px;
     }


     .projects-header {
         text-align: center;

         h2 {
             font-size: 4.9rem;
             margin: 0 0 8px;
             font-weight: 100;
         }

         p {
             font-size: 1.25rem;
             margin: 0;
             opacity: 0.8;
         }
     }

     .projects-grid {
         display: grid;
         grid-template-columns: repeat(2, 1fr);
     }
 }


 /* MEDIA 1200 PX */

 @media (min-width: 1200px) {

     .projects-header {

         h2 {
             font-size: 2.7rem;

         }

         p {
             font-size: 2rem;
         }
     }

     .projects-grid {
         display: grid;
         grid-template-columns: repeat(3, 1fr);
     }

 }