 @use "mixins";
 @use "variables";

 // PROJECTS

 .title-section {
     @include mixins.title-section;
 }

 .projects .container {
     max-width: 1200px;
     margin: 0 auto;
     background-color: #343d68;
     color: #fff;
     padding: 5px 30px 30px;
 }

 .projects-header {
     text-align: center;

     h2 {
         font-size: 1.9rem;
         margin-bottom: 1px;
         font-weight: 100;
     }

     p {
         font-size: 1.25rem;
         margin-top: 3px;
         opacity: 0.8;
     }
 }

 .projects-grid {
     display: flex;
     flex-direction: column;
     gap: 20px;
 }

 .project-card {
     border: 2px solid rgba(255, 255, 255, 0.25);
     padding: 50px 10px 50px;
     text-align: center;

     h3 {
         font-size: 1.5rem;
         margin-bottom: 10px;
         margin-top: 1px;
         font-weight: 100;
     }

     &:hover {
         border-color: #8af464;
         transform: translateY(-1px);
     }
 }

 .project-link {
     font-size: 1.1rem;
     color: #fff;
     text-decoration: underline;
     text-underline-offset: 6px;
     transition: color 0.3s ease;

     &:hover {
         color: #8af464;
     }
 }

 /* MEDIA 768 PX */

 @media (min-width: 768px) {

     .projects .container {
         max-width: 1200px;
         margin: 0 auto;
         background-color: #343d68;
         color: #fff;
         padding: 5px 30px 60px;
     }

     .projects-header {
         text-align: center;

         h2 {
             font-size: 1.9rem;
             margin-bottom: 1px;
             font-weight: 100;
         }

         p {
             font-size: 1.25rem;
             margin-top: 3px;
             opacity: 0.8;
         }
     }

     .projects-grid {
         display: grid;
         grid-template-columns: repeat(3, 1fr);
         gap: 80px;
     }

     .project-card {
         border: 2px solid rgba(255, 255, 255, 0.25);
         padding: 50px 10px 50px;
         text-align: center;

         h3 {
             font-size: 1.5rem;
             margin-bottom: 10px;
             margin-top: 1px;
             font-weight: 100;
         }

         &:hover {
             border-color: #8af464;
             transform: translateY(-1px);
         }
     }

     .project-link {
         font-size: 1.1rem;
         color: #fff;
         text-decoration: underline;
         text-underline-offset: 6px;
         transition: color 0.3s ease;

         &:hover {
             color: #8af464;
         }
     }
 }


 /* MEDIA 1200 PX */

 @media (min-width: 1200px) {

     .projects-header {

         h2 {
             font-size: 2.7rem;

         }

         p {
             font-size: 2rem;
         }
     }


     .project-card {
         a {
             font-size: 1.8rem;
         }

         h3 {
            font-size: 2rem;
         }
     }

 }