  @use "mixins";
  @use "variables";

  /* SKILLS SECTION */

  .skills-menu {
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    gap: 20px;

  }

  .skills-tab {
    @include mixins.button-small;
  }

  .layout-skills {
    display: flex;
    flex-direction: column-reverse;
    gap: 40px;
  }

  .skills-interactive {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .tech-skills {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;

    margin-top: 10px;
  }

  .skill {
    display: flex;
    flex-direction: column;
    text-align: center;

    p {
      margin: 0;
    }

  }

  .hex {
    width: 120px;
    height: 120px;
    margin: 0 auto 12px;

    background: url("../assets/skills/techSkills/polygon.svg") no-repeat center;
    background-size: contain;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .hex img {
    width: 64px;
    height: 64px;
  }

  .skills-panel {
    display: none;
  }

  .skills-panel.active {
    display: block;
  }

  .skills-man {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* MEDIA 768 PX */

  @media (min-width: 768px) {

    .title-section {
      @include mixins.title-section;
    }

    .skills-tab {
      @include mixins.button-small;
    }

    .layout-skills {
      display: grid;
      grid-template-columns: 1fr 420px;
      gap: 40px;
      align-items: start;
    }

    .hex {
      width: 160px;
      height: 160px;
      margin: 0 auto 12px;

      background: url("../assets/skills/techSkills/polygon.svg") no-repeat center;
      background-size: contain;

      display: flex;
      align-items: center;
      justify-content: center;
    }

    .skills-panels {
      min-height: 360px;
    }


    .tech-skills {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 30px;
      padding: 30px;
    }

    .architecture-grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 10px;
    }

    .architecture-col {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    .architecture-col li {
      line-height: 1.5;
      margin-bottom: 12px;
      font-size: 1rem;
    }

    .architecture-col .col-title {
      font-weight: 600;
      margin-bottom: 10px;
      margin-top: 30px;
    }

    .skills-man {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .skills-man img {
      max-width: 100%;
      height: auto;
    }

    .skill img {
      height: 60%;
      width: auto;
    }

    .skill {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
    }

    .skills-panel {
      display: none;
    }

    .skills-panel.active {
      display: block;
    }
  }

  /* MEDIA 1200 PX */


  @media (min-width: 1200px) {
    .tech-skills {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 30px;

      margin-top: 10px;
    }

    .skills-man img {
      max-width: 800px;
      height: auto;
    }
  }