
// Fonts
$hero-header:     h1 {
      font-style: normal;
      font-weight: 100;
      color: #343D68;
      font-size: 2rem;
      margin-bottom: 0px;
    };

// Colors
$color-primary: #E84849;
$color-primary-hover: #fd7979;
$color-text-main: #343D68;
$color-text-secondary: #3f3D56;

// Shadows
$shadow-button: 0 4px 12px rgba(0, 0, 0, 0.3);
$shadow-button-hover: 0 6px 18px rgba(0, 0, 0, 0.35);

// Spacing
$gap-hero-desktop: 150px;

// Breakpoints
$bp-desktop: 1200px;
