header {
  background-color: #ffffff;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.08);
  position: sticky;
  top: 0;
  z-index: 1000;
  padding: 0 15px;

}

section h2 {
  font-weight: normal;
}

body {
  background-color: beige;
}


/* Style the navigation menu */
.topnav {
  overflow: hidden;
  background-color: #333;
  position: relative;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */
.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the active link (or home/logo) */
.active {
  background-color: #04AA6D;
  color: white;
}

section {
  background-color: #ffffff;
  /* box-shadow: 0 1px 4px rgba(0, 0, 0, 0.08); */
  padding: 10px;
  margin: 10px;
}

fieldset {
  display: flex;
  flex-direction: column;
}

label {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

form {
  width: 100%;
}

/* The hero image */

.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("assets/Jag\ Blu.jpg");
  background-position: center 55%;


  /* Set a specific height */
  height: 60vh;

  /* Position and center the image to scale nicely on all screens */
  /* background-position: center; */
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


/* Place text in the middle of the image */
.hero-text {
  text-align: left;
  position: absolute;
  top: 15%;
  left: 36%;
  transform: translate(-50%, -50%);
  color: white;
}

.hero-text h1 {
font-weight: normal;
}

.skills-layout {
  display: flex;
  align-items: center;
  gap: 40px;
  padding-left: 40px;
}

.skills-cards {
  display: flex;
  flex-direction: column;
}

.skills-illustration img {
  position: relative;
  width: 440px;
  height: auto;
  left: -270px;
}

.skill-item {
  position: relative;
  width: 170px;
  margin: 15px ;
}

.skill-itemCard {
  display: block;
  width: 100%;
}

.skill-itemTop {
  position: absolute;
  top: -17px;
  left: -0px;
  width: 40%;
}

.skill-checkBox {
  position: absolute;
  top: -0.1px;
  left: 195px;
  width: 25px;
  height: auto;
}

.skill-checkmark {
  position: absolute;
  top: -1px;
  left: 204px;
  width: 25px;
  height: auto;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  gap: 32px;
  margin-top: 40px;
}

.skill {
  text-align: center;
  cursor: default;
}

.skill img {
  width: 90px;
  height: auto;
  transition: transform 0.25s ease, filter 0.25s ease;
}

.skill p {
  margin-top: 12px;
  font-size: 15px;
  font-weight: 400;
  color: #333;
}

.skill:hover img {
  transform: translateY(-4px) scale(1.04);
  filter: drop-shadow(0 6px 12px rgba(0, 0, 0, 0.12));
}



@media (min-width: 768px) {

  /* скрываем бургер */
  .topnav a.icon {
    display: none;
  }

  /* показываем меню ВСЕГДА */
  .topnav #myLinks {
    display: flex;
  }

  /* делаем меню горизонтальным */
  .topnav {
    display: flex;
    align-items: center;
  }

  .topnav #myLinks a {
    display: inline-block;
  }
}