header {
  background-color: #ffffff;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.08);
  position: sticky;
  top: 0;
  z-index: 1000;
  padding: 0 15px;

}

body {
  background-color: beige;
}

/* mobile */

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
}

.burger {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.nav-list {
  display: none;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-list.is-open {
  display: block;
}


section {
  background-color: #ffffff;
  /* box-shadow: 0 1px 4px rgba(0, 0, 0, 0.08); */
  padding: 10px;
  margin: 10px;
}


@media (min-width: 768px) {
  .burger {
    display: none;
  }

  .nav-list {
    display: flex;
    gap: 24px;
  }
}